{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}


    <div class = "container mt-4">
        <h1>Créer un compte</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class = "btn btn-primary">S'enregistrer</button>
        {{ form_end(form) }}
    </div>



{% endblock %}