{% extends 'base.html.twig' %}

{% block title 'QCM - Sondix' %}

{% block body %}


<div class = "container">
	<h1>Les QCM</h1>
	<div class = "row flex">
		{% for qcm in latest_qcm %}
			<div class = "col-3">
				<div class = "card">
					<div class = "card-body">
						<h5 class = "card-title">
							<a href = "#">{{ qcm.NomQcm }}</a>
						</h5>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}